body {
    background-color: #eee;
    font-size: 26px;
}

.wrapper {
    margin: 0 auto;
}

header, footer {
    background-color: ghostwhite;
    padding: 10px 20px;
}

main {
    background-color: lightgrey;
    padding: 20px;
}

.layout-sidebar {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
}



/* ============= */
#chatUltilities h4{width:100%;}