// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
/* SCSS COLOR MAIN HEX */
// ========================
// $heading-font-family: 'Permanent Marker';
// $body-font-family: 'Neucha';
// $font-size-root: 24px;

// =============================
$main_color:    #00796b; // colors.teal.darken2
$primary_light: #48a999;
$primary_dark:  #004c40;

$hint-of-red:    #EEEBE9;
$fountain-blue:  #69A0AB;
$slate-gray:     #5E6D7A;
$woodsmoke:      #18171F;

$fruit-salad:   #389f58;
$hokey-pokey:   #b58f20;
$pomegranate:   #F44336;

$light-accent:  $fountain-blue;
$light-shades:  $hint-of-red;

$dark-accent:   $slate-gray;
$dark-shades:   $woodsmoke;


// LEVEL 2 COLOUR
// ========================
$white:      $hint-of-red;
$black:      $woodsmoke;
$secondary:  #FFA17A;
$accent:     #424242;

// Theme
// ===========================