<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/main.css">

    <!-- SCRIPT  -->
    <script>
        $(document).ready(function(){
            /// alert("Hello World !");
        });
    </script>
</head>
<body>

    <div class="wrapper">
        <!-- Header goes here -->
        <%- include('./partials/header.ejs') %>


        <main><%- body %></main>

        <!-- Footer goes here  -->
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>