<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./socket.io/socket.io.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<h1>Chat with Project !!!</h1>
<div id="app">
    <v-app>
        <!-- Must have the app property -->
        <v-app-bar app></v-app-bar>
        <v-main>
            <v-container class="grey lighten-5 mb-6" fluid>
                <v-row style="min-height:200px;">
                    <!-- Left column  -->
                    <v-col
                        cols="6"
                        md="3"
                    >
                        <div id="chatUltilities">
                            <v-row
                                cols="12"
                                md="12"
                                style="min-height:150px;"
                            >
                                <h4 class="text-md-h5 pa-3">Users !!!</h4>
                                <div id="onlUsers">
                                    <!-- List online users  -->
                                </div>
                            </v-row>
                            <v-divider></v-divider>
                            <v-row
                                cols="12"
                                md="12"
                            >
                                <h4 class="text-md-h5 pa-3 mt-3">Rooms</h4>
                                <div id="availableRooms">
                                    <!-- List available Rooms  -->
                                </div>
                            </v-row>
                        </div>
                    </v-col>

                    <!-- Right column  -->
                    <v-col
                        cols="12"
                        md="9"
                        class="grey lighten-3"
                    >
                        <h3 class="text-md-h4 right">
                            Hello <b><span id="currentUser"></span></b></h3>
                        <p class="subtitle-1 right"></p>

                        <!-- Alert Area  -->
                        <v-alert
                            border="left"
                            color="red lighten-2"
                            id="failAlert"
                        ></v-alert>

                        <!-- Register for Username  -->
                        <v-row id="loginForm">
                            <v-col
                                cols="12"
                                md="10"
                            >
                                <v-text-field
                                    label="wishes username...."S
                                    hide-details="auto"
                                    id="txtUsername"
                                ></v-text-field>
                            </v-col>
                            <v-col
                                cols="6"
                                md="2"
                            >
                                <v-btn
                                    class="ma-2"
                                    color="secondary"
                                    id="btnRegister"
                                >
                                    Register
                                </v-btn>
                            </v-col>
                        </v-row>

                        <!-- Chat room content  -->
                        <v-row id="chatContent">

                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
new Vue({
    el: '#app',
    vuetify: new Vuetify(),
})
</script>
<script src="js/chat.js"></script>